
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
*.egg-info/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static_root/

# Django migrations
*/migrations/
*.py[cod]
!*/migrations/__init__.py
*/migrations/*

# Secrets
.env
.env/
*.secret

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
.gitmodules
README.md

#folder
Superdad_Frontend/
